.cardBackground{
    background-color: rgb(36, 2, 70);
    color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    width: 350px;
    height: 450px;
    transition: all 200ms ease-in-out;
}

.cardImage{
    border-radius: 999px;
    transition: all 200ms ease-in-out;
    filter: grayscale(1);
    width: 90%;
}

.cardBackground:hover .cardImage{
     border-radius: 10px;
     filter:grayscale(0);
}

.cardBackground:hover{
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.carTitle{
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 900;
    text-shadow: 0px 3px 20px #f300fb;
    width: 90%;
    text-align: center;
}

.cardText{
    width: 100%;
    text-align: center;
    color: #f300fb;
    font-size: 22px;
}